<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :headline %>
    <%= f.text_field :headline, :size => 75 %>
  </div>
    
  <div class="field">
    <%= f.label :cms_page_id, "CMS Page ID #" %>
    <%= f.text_field :cms_page_id, :size => 6 %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(["Live!", "Offline"]), {:include_blank => true, :default => nil} %>
  </div>
  
  <div class="field">
    <%= f.label :section %>
    <%= f.select :section, options_for_select(["Membership", "Travel", "Auto", "Registries", "Insurance", "Deals", "Driver Ed", "Financial*", "Community & AMA", "Other"]), {:include_blank => true, :default => nil} %>
  </div>
  
  <div class="field">
    <%= f.label :path %><%= f.text_field :path, :size => 35 %>
  </div>
  
  <div class="field">
    <%= f.label :url %><%= f.text_field :url, :size => 100 %>
  </div>
  
  <div class="field">
    <%= f.label :deep_link %><%= f.text_field :deep_link, :size => 100 %>
  </div>
  
  <div class="field">
    <%= f.label :template %>
    <%= f.select :template, options_for_select(["Grid", "Tab/Multistep", "Form", "Landing Page", "Other"]), {:include_blank => true, :default => nil} %>
  </div>
  
  <div class="field">
    <%= f.label :user_state %>
    <%= f.select :user_state, options_for_select(["Public", "Logged In", "Member Only"]), {:include_blank => true, :default => nil} %>
  </div>
  
  <%= f.hidden_field :created_by, :value => @user.username, :only => :new %>
  <%= f.hidden_field :updated_by, :value => @user.username, :only => :edit %>
  
  <div class="field">
    <%= f.label :reviewed_by %>
    <%= f.select :reviewed_by, options_for_select(["Amanda", "Christopher", "Darrell", "Dwain", "Esci", "Krista", "Jason", "Johnn", "RuthAnn", "Sarah vT", "Other"]), {:include_blank => true, :default => nil} %> on 
    <%= f.date_select :reviewed_date %>
  </div>
  
  <div class="field">
    <%= f.label :next_review_date %>
    <%= f.date_select :next_review_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
