<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Page available to" %>
    <%= f.select :user_state, options_for_select(["Public", "Logged In User", "Member Only"]) %>
  </div>
  
  <div class="field">
    <%= f.label :deep_link, "Deeplink(s)" %><%= f.text_field :deep_link, :size => 100 %>
  </div>
  
  <%= f.hidden_field :created_by, :value => @user.username, :only => :new %>
  <%= f.hidden_field :updated_by, :value => @user.username, :only => :edit %>
  
  <div class="field">
    <%= f.label :reviewed_by %>
    <%= f.select :reviewed_by, options_for_select(["Aly", "Amanda", "Christopher", "Chris R", "Dwain", "Esci", "Laura", "Liam", "Jason", "Johnn", "Krista", "Sarah vT", "Other"]) %> on 
    <%= f.date_select :reviewed_date %>
  </div>
  
  <div class="field">
    <%= f.label :next_review_date %>
    <%= f.date_select :next_review_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
