<div id="pageinfoheadline">
  <h1>AMA Website Content Pages</h1>
</div>
  
<div id="mainbody">
  <h3>List 
  <%= link_to 'live pages', pages_path(:status => "live!") %>, <%= link_to 'offline pages', pages_path(:status => "offline") %>, or just <%= link_to 'show me everything', pages_path %></h3>
  <p>
  (Or show me only 
    <%= link_to 'Membership', pages_path(:section => "Membership") %> | <%= link_to 'Travel', pages_path(:section => "Travel") %> | <%= link_to 'Auto', pages_path(:section => "Auto") %> | <%= link_to 'Registries', pages_path(:section => "Registries") %> | <%= link_to 'Insurance', pages_path(:section => "Insurance") %> | <%= link_to 'Deals', pages_path(:section => "Deals") %> | <%= link_to 'Driver Ed', pages_path(:section => "Driver Ed") %> | <%= link_to 'Financial*', pages_path(:section => "Financial*") %> | <%= link_to 'Community & AMA', pages_path(:section => "Community & AMA") %> | or <%= link_to 'Other', pages_path(:section => "Other") %>)</p>
    <hr>
<table>  
  <tr>  
    <th></th>  
    <th></th>  
    <th></th>  
  </tr>
<br>
<% @pages.each do |page| %>
  <tr>
    <td><%= link_to page.headline, page %></td>
  </tr>
<% end %>
</table>
</div>

<div id="sidebar">
  <p>
  <%= link_to '+ Create a New Page Listing', new_page_path %></p>
  <%= render :partial => "pages/search" %>
</div>
