<div id="mainbody">
  <h1>AMA Website Content Pages</h1>
  
<table>  
  <tr>  
    <th></th>  
    <th></th>  
    <th></th>  
  </tr>
<br>
<% @pages.each do |page| %>
  <tr>
    <td><%= link_to page.headline, page %></td>
  </tr>
<% end %>
</table>
</div>

<div id="sidebar">
  <p>
  <%= link_to 'Create a New Page', new_page_path %></p>
  <p>
  <%= link_to 'List live pages', pages_path(:status => "live!") %> </p>
  <p>
  <%= link_to 'List offline pages', pages_path(:status => "offline") %> </p>
  <p>
  <%= link_to 'Show everything', pages_path %></p>
</div>
