<div id="pageinfoheadline">
  <h1>AMA Website Content Pages</h1>
</div>
  
<div id="mainbody">
	<h3>
		Live Pages
	</h3>
<div id="index_list">
<%= paginate @pages %>
<table>  
  <tr>  
    <th>Content Title</th>  
    <th>Section</th>  
    <th>Last Published</th>  
  </tr>
<% @pages.each do |page| %>
  <tr>
    <td style="color:#755305">
			<%= link_to page.metadata.content_title.html_safe, page_path(page) %>
		</td>
		<td>
			<%= page.section.name %>
		</td>
		<td>
			<%= pretty_date(page.published_date) %>
		</td>
  </tr>
<% end %>
</table>
</div>
</div>

<div id="sidebar">
  <p>
  <%= link_to '+ Create a New Page Listing', new_page_path %></p>
  <%= render :partial => "pages/search" %>
  <p>
    Live page count: <strong><%= Page.live.size %></strong></p>
</div>
