<div id="pageinfoheadline">
  <h1>AMA Website Content Pages</h1>
</div>
  
<div id="mainbody">
<div id="index_list">
<table>  
  <tr>  
    <th>Page</th>  
    <th>Section</th>  
    <th>Last Published</th>  
  </tr>
<% @pages.each do |page| %>
  <tr>
    <td style="color:#755305">
			<%= link_to page.metadata.content_title.html_safe, page_path(page) %>
		</td>
		<td>
			<%= page.section.name %>
		</td>
		<td>
			<%= pretty_date(page.published_date) %>
		</td>
  </tr>
<% end %>
</table>
</div>
</div>

<div id="sidebar">
  <%= render :partial => "pages/search" %>
</div>
  
  <div id="sidebar">
  <p>Live page count: <strong><%= Page.live.size %></strong></p>
  </div>
  
  <div id="sidebar">
  <p>View <%= link_to 'all live', pages_path(:status => :live) %> or <%= link_to 'offline', pages_path(:status => :offline) %> pages</p>
  </div>
  
  <div id="sidebar">
  <p><strong>View by section:</strong> <% @sections.each do |section| %>
    <%= link_to section.name, section_path(section) %>
	<% end %></p>
	</div>
	
	<div id="sidebar">
  <p><strong>View by user:</strong> <% @profiles.each do |profile| %>
    <%= link_to profile.user.username, profile_path(profile) %>
	<% end %></p>
	</div>
	

<div id="footer">
  <p><%= paginate @pages %></p>
  <p><%= link_to 'Back to your dashboard', dashboards_path %></p>
</div>
