<div id="pageinfoheadline">
  <h1>AMA Website Content Pages</h1>
</div>
  
<div id="mainbody">
<div id="index_list">
<table>  
  <tr>  
    <th>Section</th>  
    <th>Page</th>  
    <th>Last Published</th>  
  </tr>
<% @pages.each do |page| %>
  <tr>
    <td width=125px>
			<%= page.section.name %>
		</td>
    <td style="color:#755305", width=275px>
			<%= link_to page.metadata.content_title.html_safe, page_path(page) %>
		</td>
		<td width=170px>
			<%= pretty_date(page.published_date) %>
		</td>
    </tr>
  <% end %>
  </table>
  </div>
</div>

  <div id="sidebar">
    <%= render :partial => "pages/search" %>
  </div>
  
  <div id="sidebar">
  <p>Live page count: <strong><%= Page.live.size %></strong></br></p>
  </div>
  
  <div id="sidebar">
  <p>View <strong><%= link_to 'all live', pages_path(:status => :live) %></strong> or <strong><%= link_to 'offline', pages_path(:status => :offline) %></strong> pages</p>
  </div>
  
  <div id="sidebar">
  <p>View by <strong><%= link_to 'section', sections_path %>:</strong><br> <% @sections.each do |section| %>
    <%= link_to section.name, section_path(section) %>
	<% end %></p>
	</div>
	
	<div id="sidebar">
  <p>View by <strong><%= link_to 'publisher', profiles_path %>:</strong><br> <% @profiles.each do |profile| %>
    <%= link_to profile.user.username, profile_path(profile) %>
	<% end %></p>
	</div>
	
	<div id="sidebar">
  <p>Download the <strong><%= link_to 'report', pages_path(@page, :format => :csv) %></strong>. <i>(Hint: Right click and "save as...")</i></br></p>
 	</div>

 <div id="footer">
   <p><%= link_to 'Back to your dashboard', dashboards_path %> | <%= link_to 'SIGN OUT', destroy_user_session_path if current_user %></p>
 </div>