<p id="notice"><%= notice %></p>

<h1><%= @page.headline %></h1>

<p>
  <b>CMS Page ID #:</b>
  <%= @page.cms_page_id %>
</p>

<p>
  <b>Site Section:</b>
  <%= @page.section %>
</p>

<p>
  <b>Navigation Path:</b>
  <%= @page.path %>
</p>

<p>
  <b>Link:</b>
  <%= link_to @page.url, @page.url %>
</p>
<hr>
<p>
Created by:
  <%= @page.created_by %>
</p>

<p>
Created on:
  <%= @page.created_at%>
</p>

<p>
Last updated by:
  <%= @page.updated_by %>
</p>

<p>
Last updated on:
  <%= @page.updated_at %>
</p>

<p>
Last reviewed by:
  <%= @page.reviewed_by %>
  </p>
  
<p>
Last reviewed on:
  <%= @page.reviewed_date %>
</p>

<h2>Add a note:</h2>
<%= form_for([@page, @page.notes.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <%= f.hidden_field :commenter, :value => @user.username %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Past notes</h2>
<% @page.notes.each do |note| %>
<p>
  <%= note.created_at %> - From <%= note.commenter %> : </br> 
  <%= note.body %>
<% end %>
<hr>
<%= link_to 'Edit this Page', edit_page_path(@page) %> |
<%= link_to 'Back to Index', pages_path %>
