<div id="pageinfoheadline">
<h1><%= @page.headline %></h1>
</div>

<div id="pageinfo">
<p>
  <b>CMS Page ID #:</b>
  <%= @page.cms_page_id %>
</p>

<p>
  <b>Current Status:</b><%= @page.status %>
  </p>

<p>
  <b>Site Section:</b>
  <%= @page.section %>
</p>

<p>
  <b>Navigation Path:</b>
  <%= @page.path %>
</p>

<p>
  <b>Link:</b>
  <%= link_to @page.url, @page.url %>
</p>

<p>
Created by <%= @page.created_by %> on   <%= @page.created_at.to_s(:short) %>
</p>

<p>
Last updated by <%= @page.updated_by %> on   <%= @page.updated_at.to_s(:short) %>
</p>

<p>
Last reviewed by <%= @page.reviewed_by %> on   <%= @page.reviewed_date %>
  </p>
</div>

<div id="notes">
<h3>Add a Note:</h3>
<%= form_for([@page, @page.notes.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body, :size => "50x10" %>
  </div>
  <%= f.hidden_field :commenter, :value => @user.username %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<b>Past notes</b>
<%= render  :partial => "notes/note",
            :collection => @page.notes, :order => "created_at DESC" %>
</div>

<div id="footer">
<%= link_to 'Edit this Page', edit_page_path(@page) %> |
<%= link_to 'Back to Index', pages_path %>
</div>
