<div id="pageinfoheadline">
<h1><%= @page.headline %></h1>
</div>

<div id="pageinfo">
  <h2>Vital Stats</h2>
<p>
  <b>CMS page ID #:</b>
  <%= @page.cms_page_id %>
</p>

<p>
  <b>Current status: </b><%= @page.status %>
  </p>
  
<p>
  <b>Available to:</b>
  <%= @page.user_state %>
</p>

<p>
  <b>Site section:</b>
  <%= @page.section %>
</p>

<p>
  <b>Navigation path:</b>
  <%= @page.path %>
</p>

<p>
  <b>Permanent link:</b>
  <%= link_to @page.url, @page.url %>
</p>

<p>
  <b>Deeplink(s):</b>
  <%= @page.deep_link %>
</p>

<p>
  <b>CMS template:</b>
  <%= @page.template %>
</p><br>

<h3>Update History</h3>
<p>
Created by <%= @page.created_by %> on   <%= @page.created_at %><br>
Last updated by <%= @page.updated_by %> on   <%= @page.updated_at %><br>
Last reviewed by <%= @page.reviewed_by %> on   <%= @page.reviewed_date %><br>
Next review date: <%= @page.next_review_date %>
</p>

</div>

<div id="notes">
<h2>Notebook</h2>
<%= form_for([@page, @page.notes.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body, :size => "50x10" %>
  </div>
  <%= f.hidden_field :commenter, :value => @user.username %>
  <div class="actions">
    <%= f.submit 'Add note' %>
  </div>
<% end %>
<br>
<b>Past notes</b>
<%= render  :partial => "notes/note",
            :collection => @page.notes, :order => "created_at DESC" %>
</div>

<div id="footer">
<%= link_to 'Edit this Page', edit_page_path(@page) %> |
<%= link_to 'Back to Index', pages_path %>
</div>
