<div id="pageinfoheadline">
  <h1>CIA Dashboard</h1>
</div>
  
<div id="mainbody">
	<ul>
		<li>
			<%= link_to 'My Profile', profile_path(current_user.profile) %>
		</li>
		<li>
			<%= link_to 'AMA Publishers', profiles_path %>
		</li>
		<li>
			<%= link_to 'Content Sections', sections_path %>
		</li>
		<li>
			<%= link_to 'Live Web Pages', pages_path %>
		</li>
		<li>
			<%= link_to 'Images and Files', folders_path %>
		</li>
	</ul>

	<p>
		<%= render :partial => 'shared/user_pages', :locals => { :limit => 5 } %>
	</p>
	<p>
		<%= render :partial => 'shared/section_pages', :locals => { :sections => [*Section.all.shuffle.first], :limit => 5 } %>
	</p>
	<p>
		<%= render :partial => 'shared/pages', :locals => { :limit => 5 } %>
	</p>
</div>