<div id="pageinfoheadline">
  <h1>CIA Dashboard</h1>
</div>
  
<div id="mainbody">
	<ul>
		<li>
			<%= link_to 'My Profile', profile_path(current_user.profile) %>
		</li>
		<li>
			<%= link_to 'AMA Publishers', profiles_path %>
		</li>
		<li>
			<%= link_to 'Content Sections', sections_path %>
		</li>
		<li>
			<%= link_to 'Live Web Pages', pages_path %>
		</li>
		<li>
			<%= link_to 'Images and Files', folders_path %>
		</li>
	</ul>

	<p>
		<%= render :partial => 'shared/user_pages', :locals => { :limit => 5 } %>
	</p>
	<p>
		<%= render :partial => 'shared/section_pages', :locals => { :sections => [*Section.all.shuffle.first], :limit => 5 } %>
	</p>
	<p>
		<%= render :partial => 'shared/pages', :locals => { :limit => 5 } %>
	</p>
</div>

<div id="sidebar">
  <%= render :partial => "pages/search" %>
</div>
  
  <div id="sidebar">
  <p>Live page count: <strong><%= Page.live.size %></strong></p>
  </div>
  
  <div id="sidebar">
  <p>View <%= link_to 'all live', pages_path(:status => :live) %> or <%= link_to 'offline', pages_path(:status => :offline) %> pages</p>
  </div>
  
  <div id="sidebar">
  <p><strong>View by section:</strong> <% @sections.each do |section| %>
    <%= link_to section.name, section_path(section) %>
	<% end %></p>
	</div>
	
	<div id="sidebar">
  <p><strong>View by user:</strong> <% @profiles.each do |profile| %>
    <%= link_to profile.user.username, profile_path(profile) %>
	<% end %></p>
	</div>
